<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sai.udstore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.provider.Settings.Secure.ANDROID_ID" />

    <application
        android:name=".Main.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Will not be called unless the application explicitly enables it -->

        <activity
            android:name=".Main.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/splashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Main.Register.RegisterActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Main.Register.VerifyActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Main.Register.RegisterAlertActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Main.ProductsActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Main.Products_moreActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Main.Register.SignUpActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Main.BuyProductsActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Main.Products.ProductAddActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Main.Order.InvoiceEditActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Main.Order.SendOrderActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".Main.Products.ProductsListActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Main.Products.ProductActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Main.Order.InvoiceDetailsActivity"
            android:label="@string/title_activity_invoice_details"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Main.Order.ChargeActivity"
            android:theme="@style/AppTheme.Dialog"></activity>
    </application>

</manifest>